.embla {
  margin: 20px;
  position: relative;
  background-color: #0000003a;
  padding: 20px;
  max-width: 90rem;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: 2px #54ECC4 solid;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 20rem;
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -30%);
  border-radius: 20px;
  /* border: 10px dotted rgba(245, 245, 245, 0.596); */
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.embla_title{
  z-index: 23;
  position: absolute;
  color: whitesmoke;
  background: rgb(0,215,210);
  background: linear-gradient(90deg, rgba(0, 215, 211, 0.671), rgba(64, 170, 246, 0.801),rgba(255, 0, 115, 0.795));
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.embla__button {
  outline: 0;
  border: 0px;
  cursor: pointer;
  background-color: rgba(245, 245, 245, 0.685);
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 30%;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  fill: #54ecc4;
  padding: 10px;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 27px;
}

.embla__button--next {
  right: 27px;
}

.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
}

.embla__dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: 30px;
  height: 30px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  display: flex;
  align-items: center;
}

.embla_discount{
  position: absolute;
  top: 70%;
  left: 70%;
  z-index: 1;
  color: whitesmoke;
  background: rgb(0,215,210);
  background: linear-gradient(90deg, rgba(0, 215, 211, 0.671), rgba(64, 170, 246, 0.801),rgba(255, 0, 115, 0.795));
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  

  
}

@media only screen and (max-width: 576px) {
  .embla_discount {
    left: 0;
  }
}





.embla__dot:after {
  background-color: #efefef;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: "";
}

.embla__dot.is-selected:after {
  background-color: #1bcacd;
  opacity: 1;
}
